@if (appearance(); as appearance) {
    @switch (appearance) {
        @case('menu') {
            <button mat-menu-item (click)="openCreateAccountDialog()">
                <mat-icon>add</mat-icon>
                Add Account 
                @if (parent(); as parent) {
                    under {{ parent.name }}
                }
            </button>
        }
        @case ('regular') {
            <button mat-flat-button (click)="openCreateAccountDialog()">
                <mat-icon>add</mat-icon>
                Add Account 
                @if (parent(); as parent) {
                    under {{ parent.name }}
                }
            </button>
        }
    }
}