<div class="home-container">
  <mat-toolbar class="ll-toolbar">
        <button (click)="sidenav.toggle()" mat-button>
          <mat-icon>menu</mat-icon>
        </button>
        <button (click)="toggleTheme()" mat-button>
          <mat-icon>colorize</mat-icon>
        </button>
        <app-logo></app-logo>
  </mat-toolbar>
  <mat-sidenav-container class="nav-content">
    <mat-sidenav #sidenav mode="side" opened class="ll-sidenav">
      <app-account-tree></app-account-tree>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>