<form name="create-account" [formGroup]="accountGroup" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Number</mat-label>
        <input type="text" matInput formControlName="number">
    </mat-form-field>
    @if (!parentAccount()) {
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                @for (type of accountTypes ; track type) {
                    <mat-option [value]="type">{{ type }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency">
                @for (kvp of currencies ; track kvp[1]) {
                    <mat-option [value]="kvp[1]"> {{ kvp[0] }} ({{kvp[1]}})</mat-option>
                }
            </mat-select>
        </mat-form-field>
    }
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    @if (parentAccount()?.type === 'Expense') {
        <label id="expenseTypesGroup">Expense Type</label>
        <mat-radio-group 
            aria-labelledby="expenseTypesGroup"
            formControlName="expenseType"
        >
            @for (type of expenseTypes; track type) {
                <mat-radio-button [value]="type">{{ type }}</mat-radio-button>
            }
        </mat-radio-group>
    }

    <mat-checkbox class="margin" formControlName="isPlaceholder">Placeholder</mat-checkbox>
</form>