<form name="login" (submit)="onFormSubmit($event)" [formGroup]="loginForm">
    @let username = loginForm.controls.username;
    @let pass = loginForm.controls.password;

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username">
        @if (username.invalid || username.dirty) {
            <mat-error>{{emailValidation()}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        @if (pass.invalid) {
            <mat-error>{{passwordValidation()}}</mat-error>
        }
    </mat-form-field>

    <app-button type="submit">Sign In</app-button>
</form>