@use '@angular/material' as mat;

html {
    color-scheme: light;
    box-sizing: border-box;

    @include mat.theme((
        color: mat.$violet-palette,
        typography: Roboto,
        density: 0
    ));
}

body {
    margin: 0;
}