@if (user(); as user) {
    <div class="user-info">
        <div class="user-name">
            <mat-icon>person</mat-icon> 
            {{user?.username ?? 'Unknown'}}
        </div>
        @if (user.organization) {
            <div class="user-org">
                <mat-icon>groups</mat-icon>
                {{user?.organization?.name ?? 'None'}}
            </div>
        }
        @if (user?.organizationRoles; as roles) {
            @if (roles && roles.length > 0) {
                <div class="user-roles">
                    <mat-icon>badge</mat-icon>
                    {{ displayRoles(roles) }}
                </div>
            }
        }
    </div>
    <div class="user-actions">
        <button mat-mini-fab title="Sign Out" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
}