mat-tree-node {
    user-select: none;
    gap: .25em;
    transition: 0.05s;
    padding-right: .25em;

    &[aria-level="1"] {
        border-bottom: 1px solid var(--mat-sys-outline);
    }

    &:hover {
        background-color: var(--mat-sys-secondary-container);
    }

    .create-child {
        margin-left: auto;
    }
}

.root-account-btn {
    align-self: center;
}