:host {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main-content {
    padding: 1em;
}

mat-sidenav-container {
    flex: 1;
}

.ll-toolbar {
    border-bottom: 2px solid var(--mat-sys-primary);
    gap: .25em;
}

.ll-toolbar a {
    text-decoration: unset;
    color: unset;
    cursor: pointer;
    margin-left: .5em;
}

.ll-sidenav {
    width: 280px;
}

.ll-sidenav ::ng-deep .mat-drawer-inner-container {
    display: flex; 
    flex-direction: column;
}

.snav-tree {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#fp-select-container {
    width: 100%;
}