mat-tree-node {
    user-select: none;
    transition: 0.05s;
    padding-right: .25em;

    :first-child {
        margin-right: .25em;
    }

    a {
        text-decoration: none;
        color: unset;

        &:hover {
            text-decoration: underline;
            font-weight: 500;
        }
    }

    &[aria-level="1"] {
        border-bottom: 1px solid var(--mat-sys-outline);
    }

    &:hover {
        background-color: var(--mat-sys-secondary-container);
    }

    > app-account-menu {
        margin-left: auto;
    }
}

.root-account-btn {
    align-self: center;
}