@use '@angular/material' as mat;

html {
    color-scheme: light;
    box-sizing: border-box;

    @include mat.theme((
        color: mat.$violet-palette,
        typography: Roboto,
        density: 0
    ));
}

$bg: var(--mat-sys-surface);
$fg: var(--mat-sys-on-surface);
$fg-smooth: var(--mat-sys-on-surface-variant);

body {
    margin: 0;
    &.dark {
        color-scheme: dark;
        --ag-browser-color-scheme: dark;
    }

    background: #{$bg};
    color: #{$fg};
    font-family: var(--mat-sys-display-medium-font);

    --ag-background-color: #{$bg};
    --ag-header-text-color: #{$fg-smooth};
    --ag-foreground-color: #{$fg};
    --ag-browser-color-scheme: light;

    --ll-success: light-dark(#079e3c, #14532d);
    --ll-on-success: light-dark(#fff, #bbf7d0);
}

form {
    display: flex;
    flex-direction: column;
}

.btn-group {
    display: flex;
    gap: 1em;
}