<mat-toolbar class="ll-toolbar">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <button (click)="toggleTheme()" mat-icon-button>
        <mat-icon> {{ isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <a [routerLink]="['/home']">
        <app-logo/>
    </a>
</mat-toolbar>

<mat-sidenav-container class="nav-content">
<mat-sidenav #sidenav mode="side" opened class="ll-sidenav">
    <div id="fp-select-container">
        <app-fiscal-period-select/>
    </div>
    <app-account-tree class="snav-tree"/>
    <app-user-profile-banner/>
</mat-sidenav>
<mat-sidenav-content>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
</mat-sidenav-content>
</mat-sidenav-container>